<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="postsContainerView">

            <div class="singlePostView">
                <img src="/img/raytalks.png" alt="post-Image">
                <h3><%= singlePost.title %></h3>
                <span>Category: <%= singlePost.category %></span>
                <span>Category: <%= singlePost.author %> </span>
                <div class="desc">
                    <%= singlePost.desc %>
                </div>
                <a href="/" class="ReadMorelink">Back to Homepage...</a>

            </div>

    </div>
   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  

    <!-- <div class="postsContainer">

        <h3>Posts You May Like</h3>
        <div class="postsCards">

            <div class="singlePost">
                <img src="/img/cover.jpg" alt="post-Image">
                <h3>Post Title IS Here</h3>
                <span>Category: Educational</span>
                <div class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolorum commodi aliquid eius! Sed
                    libero aliquam fuga,
                    doloribus officia in dolores magni aperiam dolorum eveniet autem optio. Expedita, voluptas sunt!
                </div>
                <a href="" class="ReadMorelink">Read More...</a>

            </div>

        </div>
    </div> -->


</body>

</html>